/* font family */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

/* page background */
body {
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
    text-align: center;
}

/* main information */
main {
    width: 70%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* main title h1 */
main h1 {
    color: hsl(186, 14%, 43%);
    letter-spacing: 6px;
    font-size: 1em;
    width: 78px;
    word-break: break-word;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    margin-bottom: 3em;
}

input[type="number"]
{
    font-family: 'Space Mono', monospace;
    -moz-appearance: textfield;
}

input[type="text"]
{
    font-family: 'Space Mono', monospace;
    font-size: xx-large;
}

input[type="button"]
{
    font-family: 'Space Mono', monospace;
}

input[type="placeholder"]
{
    font-family: 'Space Mono', monospace;
}

.error
{
 border:1px solid red;
}

.hide{
    display:none;
}
.show{
    display:block;
}

/* white background of calculator */
.calculator {
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

/* left side of calculator */
.calculator-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

/* left side section titles */
.calculator-left .section-title h2{
    font-size: 0.9em;
    color: hsl(186, 14%, 43%);
}

/* input information bars */
.input-bar {
    width: 100%;
}

.input-bar input {
    background-color: hsl(189, 41%, 97%);
    border: none;
    font-size: 1.5em;
    padding: 0.5em;
    text-align : right;
    width: -webkit-fill-available;
    color: hsl(186, 14%, 43%);
}

/* background of bill amount input area */
.dollar-icon {
    background-image: url('images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 16px;
}

/* background of number of people input area */
.person-icon {
    background-image: url('images/icon-person.svg');
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 16px;
}

/* calculator left side, 3 sections */
.bill, .select-tip, .number-people {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* tip percentage section */
.percentage-tabs {
    display: grid;
    grid-template-rows: 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0.5em;
    column-gap: 0.5em;
}

/* individual percentage tabs */
.percent {
    padding: 1em;
    width: 110px;
    font-size: 1em;
    color:  hsl(0, 0%, 100%);
    background-color: hsl(183, 100%, 15%);
    border-radius: 5px;
    border: none;
}

/* 15% tab */
.common-percentage {
    background-color:  hsl(172, 67%, 45%);
    color:hsl(183, 100%, 15%);
}

/* custom % tab*/
.custom-percentage {
    background-color: hsl(189, 41%, 97%);
    color: hsl(186, 14%, 43%);
}

.custom-perc-numb{
    width:78px;
    text-align: center;
}

/* right side of calculator */
.calculator-right {
    width: 50%;
    padding: 1em;
    background-color: hsl(183, 100%, 15%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align:left;
}

/* right side section titles */
.calculator-right .section-title h2{
    font-size: 1em;
    color: white;
    padding-top: 1em;
    margin-bottom: 0;
    width: max-content;
}

/* right side section titles */
.calculator-right .section-title h3{
    font-size: 0.8em;
    color: hsl(186, 14%, 43%);
    margin-top: 0;
    width: max-content;
}

/* right top divs */
.tip-total, .total-per-person {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* right top display amounts */
.calculator-right input {
    background-color: transparent;
    color: hsl(172, 67%, 45%);
    border: none;
    text-align: end;
    width: 100%;
}

/* reset button information */
.reset-button{
    padding-top: 5em;
}

button{
    font-family: 'Space Mono', monospace;
    color: hsl(183, 100%, 15%);
    font-size: 1em;
    text-align: center;
    border: none ;
    border-radius: 3px;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
}

/* reset button off */
.reset-button button:disabled  {
    background-color: hsl(186, 14%, 43%);
}

/* reset button on */
.reset-button button:enabled {
    background-color: hsl(172, 67%, 45%);
}
